{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
  <div class="ui two column middle aligned grid basic segment">
    <div class="column"> 
      <div class="ui very padded segment">
        <H2>
          BMI Tracker
        </H2>
        <P>
          Fill in your assessments by week and track your BMI. Trainers will comment on your Progress and encourage you to keep going!
        </P>
      </div>
    </div>
    <div class="column">
      <img class="ui image" src="https://cdn.glitch.com/66c07852-af90-498c-9391-8e09e0829205%2Fseticon.jpg?v=1599158724344">
    </div>
  </div>
</section>
