{{> trainermenu id="dashboard"}}

<table class="ui table">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
      <tr>
        <td>
          <a href="/trainerdashboard/{{id}}">{{name}} </a>
        </td>
        <td>
          <a href="/trainerdashboard/deleteuser/{{id}}" class="ui icon button">
            <i class="icon trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
